body {
  background-image: url(calculatorbackground2.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
}


h1 {
  background-color: aliceblue;
  border: 10px solid white;
  border-radius: 8px;
  padding: 10px;
  font-family: monospace;
  font-size: 2em;
  margin: 20px;
}

#calc-body {
  background-color: rgb(48, 0, 0);
  width: 415px;
  height: 515px;
  border: solid black 10px;
  border-radius: 8px;
}




button{
  cursor: pointer;
  font-size: 18px;
  font-family: monospace;
  font-size: 2.5em;
}

.number-button {
  background-color: pink;
  
}

.operator-button{
  background-color: palevioletred;
}

#clear-button {
  background: rgb(236, 105, 127);
  grid-column: span 3;
}

#calc-body {
  display: grid;
  gap: .5em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#zero {
  grid-column: span 2;
}

#display {
  background-color: rgb(220, 223, 226);
  grid-column: span 4;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-family: monospace;
  font-size: 4em;
  overflow: auto;
  width: 100%;
}

#display > span {
  padding: 10px;
  flex-shrink: 0;
  max-width: 100%;
}

.error {
  width: 100%;
  font-size: .5em;
  display: block;
  padding: 5px;
  padding-left: 20px;
  box-sizing: border-box;
}

p {
  background-color: aliceblue;
  border: 10px solid white;
  border-radius: 4px;
  padding: 10px;
  font-family: monospace;
  font-size: 1em;
  margin: 20px;
}

@media (max-width: 425px) {
  #calc-body {
    width: 80%;
  }
  .error {
    font-size: .35em;
  }
}